In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/train/train.csv')
First_Health_Camp_Attended=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/train/First_Health_Camp_Attended.csv')
Second_Health_Camp_Attended=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/train/Second_Health_Camp_Attended.csv')
Third_Health_Camp_Attended=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/train/Third_Health_Camp_Attended.csv')
Health_Camp_Detail=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/train/Health_Camp_Detail.csv')
Patient_Profile=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/train/Patient_Profile.csv')

In [3]:
test=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/test_l0Auv8Q.csv')
submission=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/sample_submmission.csv')

In [4]:
train_data=pd.merge(train,First_Health_Camp_Attended,how='left',on=['Patient_ID','Health_Camp_ID'])
train_data=pd.merge(train_data,Second_Health_Camp_Attended,how='left',on=['Patient_ID','Health_Camp_ID'])
train_data=pd.merge(train_data,Third_Health_Camp_Attended,how='left',on=['Patient_ID','Health_Camp_ID'])
train_data=pd.merge(train_data,Health_Camp_Detail,how='left',on='Health_Camp_ID')
train_data=pd.merge(train_data,Patient_Profile,how='left',on='Patient_ID')

In [5]:
train_data.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Donation,Health_Score,...,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,489652,6578,10-Sep-05,4,0,0,0,2,NaN,NaN,...,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
1,507246,6578,18-Aug-05,45,5,0,0,7,NaN,NaN,...,0,0,0,0,1,75,40,08-Sep-04,C,Others
2,523729,6534,29-Apr-06,0,0,0,0,0,NaN,NaN,...,0,0,0,0,None,None,None,22-Jun-04,NaN,NaN
3,524931,6535,07-Feb-04,0,0,0,0,0,NaN,NaN,...,0,0,0,0,None,None,None,07-Feb-04,I,NaN
4,521364,6529,28-Feb-06,15,1,0,0,7,NaN,NaN,...,0,0,0,1,1,70,40,04-Jul-03,I,Technology

In [6]:
test_data=pd.merge(test,First_Health_Camp_Attended,how='left',on=['Patient_ID','Health_Camp_ID'])
test_data=pd.merge(test_data,Second_Health_Camp_Attended,how='left',on=['Patient_ID','Health_Camp_ID'])
test_data=pd.merge(test_data,Third_Health_Camp_Attended,how='left',on=['Patient_ID','Health_Camp_ID'])
test_data=pd.merge(test_data,Health_Camp_Detail,how='left',on='Health_Camp_ID')
test_data=pd.merge(test_data,Patient_Profile,how='left',on='Patient_ID')

In [7]:
del train_data['Donation']
del test_data['Donation']
del train_data['Unnamed: 4']
del test_data['Unnamed: 4']

In [8]:
test_data.isnull().sum()

Patient_ID                       0
Health_Camp_ID                   0
Registration_Date                0
Var1                             0
Var2                             0
Var3                             0
Var4                             0
Var5                             0
Health_Score                 35249
Health Score                 35249
Number_of_stall_visited      35249
Last_Stall_Visited_Number    35249
Camp_Start_Date                  0
Camp_End_Date                    0
Category1                        0
Category2                        0
Category3                        0
Online_Follower                  0
LinkedIn_Shared                  0
Twitter_Shared                   0
Facebook_Shared                  0
Income                           0
Education_Score                  0
Age                              0
First_Interaction                0
City_Type                    13394
Employer_Category            30888
dtype: int64

In [9]:
x=['Health_Score','Health Score','Number_of_stall_visited','Last_Stall_Visited_Number']
for i in x:
    train_data[i]=train_data[i].fillna(0)
    test_data[i]=test_data[i].fillna(0)

In [10]:
train_data['outcome']=(train_data['Health_Score']+train_data['Health Score'])+(train_data['Number_of_stall_visited']+train_data['Last_Stall_Visited_Number']/30)+0.46106432158133853

In [11]:

x=['Health_Score','Health Score','Number_of_stall_visited','Last_Stall_Visited_Number']
for i in x:
      del train_data[i]
      del test_data[i]

In [12]:
x=['Registration_Date','City_Type','Employer_Category']
for i in x:
      train_data[i]=train_data[i].fillna(method='bfill')
      test_data[i]=test_data[i].fillna(method='bfill')
      train_data[i]=train_data[i].fillna(method='ffill')
      test_data[i]=test_data[i].fillna(method='ffill')

In [13]:

k=['Registration_Date','Camp_Start_Date','Camp_End_Date','First_Interaction']
for i in k:
  train_data[i] = pd.to_datetime(train_data[i])
  test_data[i] = pd.to_datetime(test_data[i])
for i in k:
  test_data[i+'_'+'year'] = test_data[i].dt.year
  test_data[i+'_'+'day'] = test_data[i].dt.day
  test_data[i+'_'+'weekofyear'] = test_data[i].dt.weekofyear
  test_data[i+'_'+'month'] = test_data[i].dt.month
  test_data[i+'_'+'dayofweek'] =test_data[i].dt.dayofweek
  test_data[i+'_'+'weekend'] = (test_data[i].dt.weekday >=5).astype(int)
  train_data[i+'_'+'year'] = train_data[i].dt.year
  train_data[i+'_'+'day'] = train_data[i].dt.day
  train_data[i+'_'+'weekofyear'] = train_data[i].dt.weekofyear
  train_data[i+'_'+'month'] = train_data[i].dt.month
  train_data[i+'_'+'dayofweek'] = train_data[i].dt.dayofweek
  train_data[i+'_'+'weekend'] = (train_data[i].dt.weekday >=5).astype(int)
for i in k:
  del train_data[i]
  del test_data[i]

In [14]:
x=['City_Type','Employer_Category','Category1','Category2','Income','Education_Score','Age']
for i in x:
  loc = np.append(train_data[i].values, test_data[i].values, axis=0)
  from sklearn.preprocessing import LabelEncoder
  l=LabelEncoder()
  l.fit(list(set(loc)))
  train_data[i]=l.transform(train_data[i])
  test_data[i]=l.transform(test_data[i])

In [15]:
train_data.isnull().sum()

Patient_ID                      0
Health_Camp_ID                  0
Var1                            0
Var2                            0
Var3                            0
Var4                            0
Var5                            0
Category1                       0
Category2                       0
Category3                       0
Online_Follower                 0
LinkedIn_Shared                 0
Twitter_Shared                  0
Facebook_Shared                 0
Income                          0
Education_Score                 0
Age                             0
City_Type                       0
Employer_Category               0
outcome                         0
Registration_Date_year          0
Registration_Date_day           0
Registration_Date_weekofyear    0
Registration_Date_month         0
Registration_Date_dayofweek     0
Registration_Date_weekend       0
Camp_Start_Date_year            0
Camp_Start_Date_day             0
Camp_Start_Date_weekofyear      0
Camp_Start_Date_month           0
Camp_Start_Date_dayofweek       0
Camp_Start_Date_weekend         0
Camp_End_Date_year              0
Camp_End_Date_day               0
Camp_End_Date_weekofyear        0
Camp_End_Date_month             0
Camp_End_Date_dayofweek         0
Camp_End_Date_weekend           0
First_Interaction_year          0
First_Interaction_day           0
First_Interaction_weekofyear    0
First_Interaction_month         0
First_Interaction_dayofweek     0
First_Interaction_weekend       0
dtype: int64

In [16]:
train1=train_data.copy()
test1=test_data.copy()

In [17]:

X = train1.drop(labels=['outcome'], axis=1)
y = train1['outcome'].values

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.15, random_state=42)

In [18]:
from math import sqrt 
from sklearn.metrics import mean_absolute_error

In [21]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-2.3.1-py2.py3-none-win_amd64.whl (544 kB)
Requirement already satisfied: scipy in c:\users\abc\anaconda3\lib\site-packages (from lightgbm) (1.4.1)
Requirement already satisfied: numpy in c:\users\abc\anaconda3\lib\site-packages (from lightgbm) (1.18.1)
Requirement already satisfied: scikit-learn in c:\users\abc\anaconda3\lib\site-packages (from lightgbm) (0.22.1)
Requirement already satisfied: joblib>=0.11 in c:\users\abc\anaconda3\lib\site-packages (from scikit-learn->lightgbm) (0.14.1)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.3.1

In [24]:
import lightgbm as lgb

In [26]:
train2 = lgb.Dataset(X_train, label=y_train)
test2 = lgb.Dataset(X_cv, label=y_cv)

param = {'objective': 'regression',
         'num_leaves':20,
         'boosting': 'gbdt',  
         'metric': 'mae',
         'learning_rate': 0.1, 
         'num_iterations': 1000,
         'num_leaves': 90,
         'max_depth': 6,
         'min_data_in_leaf': 11,
         'bagging_fraction': 0.90,
         'bagging_freq': 1,
         'bagging_seed': 142,
         'feature_fraction': 0.90,
         'feature_fraction_seed': 2,
         'early_stopping_round': 200,
         'max_bin': 500
         }

lgbm = lgb.train(params=param, verbose_eval=100, train_set=train2, valid_sets=[test2])

y_pred_lgbm = lgbm.predict(X_cv)
print('RMSLE:', sqrt(mean_absolute_error(np.expm1(y_cv), np.expm1(y_pred_lgbm))))

C:\Users\ABC\anaconda3\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\ABC\anaconda3\lib\site-packages\lightgbm\engine.py:153: UserWarning: Found `early_stopping_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 200 rounds
[100]	valid_0's l1: 0.332554
[200]	valid_0's l1: 0.331175
[300]	valid_0's l1: 0.331704
[400]	valid_0's l1: 0.332219
Early stopping, best iteration is:
[201]	valid_0's l1: 0.331174
RMSLE: 3.282148583947247

In [27]:
Xtest=test1

In [28]:

from sklearn.model_selection import KFold
from lightgbm import LGBMRegressor

errlgb = []
y_pred_totlgb = []

fold = KFold(n_splits=
             10, shuffle=False, random_state=2**31)

for train_data_index, test_data_index in fold.split(X):
    X_train, X_test = X.loc[train_data_index], X.loc[test_data_index]
    y_train, y_test = y[train_data_index], y[test_data_index]

    lgbm = LGBMRegressor(boosting_type='gbdt', num_leaves=800, max_depth=31, learning_rate=0.1, n_estimators=1000, min_child_samples=20, subsample=0.9)
    lgbm.fit(X_train, y_train, eval_set=[(X_test, y_test)], verbose=0, early_stopping_rounds=100)

    y_pred_lgbm = lgbm.predict(X_test)
    print("RMSLE LGBM: ", sqrt(mean_absolute_error(y_test, y_pred_lgbm)))

    errlgb.append(sqrt(mean_absolute_error(y_test, y_pred_lgbm)))
    p = lgbm.predict(Xtest)
    y_pred_totlgb.append(p)

C:\Users\ABC\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

RMSLE LGBM:  0.5928905363864839
RMSLE LGBM:  0.581396164077793
RMSLE LGBM:  0.5644889632211486
RMSLE LGBM:  0.569938352411321
RMSLE LGBM:  0.5791099776552955
RMSLE LGBM:  0.5775829065667869
RMSLE LGBM:  0.5957694530408458
RMSLE LGBM:  0.5727950071505521
RMSLE LGBM:  0.5876236152417094
RMSLE LGBM:  0.6018246191655164

In [29]:
np.mean(errlgb,0)

0.5823419594917453

In [30]:
lgbm_final = np.mean(y_pred_totlgb,0)
lgbm_final

array([2.46824251, 0.77421704, 0.51664545, ..., 0.71490397, 0.61210025,
       0.76119289])

In [35]:
submission['Outcome']=abs(lgbm_final)

In [37]:
submission=submission.to_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/f1_av.csv',index=False)

In [39]:
submission=pd.read_csv('D:/Sunil_M_S/Data Set/Healthcare Analytics/f1_av.csv')

In [40]:
submission.head()

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  2.468243
1      500633            6584  0.774217
2      506945            6582  0.516645
3      497447            6551  0.989426
4      496446            6533  0.511915