In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv('D:/Sunil_M_S/Data Set/Big Mart Sales/train.csv')
test=pd.read_csv('D:/Sunil_M_S/Data Set/Big Mart Sales/test.csv')
sub=pd.read_csv('D:/Sunil_M_S/Data Set/Big Mart Sales/sample_submission.csv')

In [3]:
train['source']='train'
test['source']='test'

In [4]:
data=pd.concat([train,test],ignore_index=True)

In [5]:
print(train.shape)
print(test.shape)
print(data.shape)

(8523, 13)
(5681, 12)
(14204, 13)

In [6]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,train
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,train
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,train
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,train
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,train

In [7]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

# Data Cleaning

In [8]:
# Checking the missing values 
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
dtype: int64

In [9]:
#Filling the missing values 
data.Item_Outlet_Sales=data.Item_Outlet_Sales.fillna(data.Item_Outlet_Sales.mean())

In [10]:
data.Item_Weight=data.Item_Weight.fillna(data.Item_Weight.mean())

In [11]:
data['Outlet_Size'].value_counts()

Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [12]:
data.Outlet_Size=data.Outlet_Size.fillna('Medium')

In [13]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
source                       0
dtype: int64

In [14]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
source                        object
dtype: object

In [15]:
# combining reg,regular and low fat ,low fat and lw
data['Item_Fat_Content']=data['Item_Fat_Content'].replace({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})
data['Item_Fat_Content'].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [16]:
#Item type combine:
data['Item_Identifier'].value_counts()
data['Item_Type_Combined'] = data['Item_Identifier'].apply(lambda x: x[0:2])
data['Item_Type_Combined'] = data['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

In [17]:

#Import library:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
#New variable for outlet
data['Outlet'] = le.fit_transform(data['Outlet_Identifier'])
var_mod = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le = LabelEncoder()
for i in var_mod:
    data[i] = le.fit_transform(data[i])

In [18]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source,Item_Type_Combined,Outlet
0,FDA15,9.30,0,0.016047,Dairy,249.8092,OUT049,1999,1,0,1,3735.1380,train,1,9
1,DRC01,5.92,1,0.019278,Soft Drinks,48.2692,OUT018,2009,1,2,2,443.4228,train,0,3
2,FDN15,17.50,0,0.016760,Meat,141.6180,OUT049,1999,1,0,1,2097.2700,train,1,9
3,FDX07,19.20,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,2,0,732.3800,train,1,0
4,NCD19,8.93,0,0.000000,Household,53.8614,OUT013,1987,0,2,1,994.7052,train,2,1

In [19]:

#One Hot Coding:
data = pd.get_dummies(data, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type','Item_Type_Combined','Outlet'])

In [20]:
data.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,source,Item_Fat_Content_0,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,9.30,0.016047,Dairy,249.8092,OUT049,1999,3735.1380,train,1,...,0,0,0,0,0,0,0,0,0,1
1,DRC01,5.92,0.019278,Soft Drinks,48.2692,OUT018,2009,443.4228,train,0,...,0,0,0,1,0,0,0,0,0,0
2,FDN15,17.50,0.016760,Meat,141.6180,OUT049,1999,2097.2700,train,1,...,0,0,0,0,0,0,0,0,0,1
3,FDX07,19.20,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,732.3800,train,0,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.93,0.000000,Household,53.8614,OUT013,1987,994.7052,train,1,...,0,1,0,0,0,0,0,0,0,0

In [21]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Item_Outlet_Sales            float64
source                        object
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
Item_Type_Combined_0           uint8
Item_Type_Combined_1           uint8
Item_Type_Combined_2           uint8
Outlet_0                       uint8
Outlet_1                       uint8
Outlet_2                       uint8
Outlet_3                       uint8
Outlet_4                       uint8
Outlet_5                       uint8
Outlet_6                       uint8
Outlet_7                       uint8
Outlet_8                       uint8
Outlet_9                       uint8
dtype: object

# Exporting Data

In [22]:
data.drop(['Item_Type','Item_Type'],axis=1,inplace=True)

In [23]:
#dividing the train and test dataset

train=data.loc[data['source']=='train']
test=data.loc[data['source']=='test']

In [24]:
#droping the unnecessary colunmns:
test.drop(['Item_Outlet_Sales','source'],axis=1,inplace=True)
train.drop(['source'],axis=1,inplace=True)

C:\Users\ABC\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

# Model building

In [25]:
# reading modified data
train2=train.copy()
test2=test.copy()

In [26]:
train2.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Item_Outlet_Sales            float64
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
Item_Type_Combined_0           uint8
Item_Type_Combined_1           uint8
Item_Type_Combined_2           uint8
Outlet_0                       uint8
Outlet_1                       uint8
Outlet_2                       uint8
Outlet_3                       uint8
Outlet_4                       uint8
Outlet_5                       uint8
Outlet_6                       uint8
Outlet_7                       uint8
Outlet_8                       uint8
Outlet_9                       uint8
dtype: object

In [27]:
x_train=train2.drop(['Item_Outlet_Sales', 'Outlet_Identifier','Item_Identifier'],axis=1)
y_train=train2.Item_Outlet_Sales

In [28]:
X_test=test2.drop(['Outlet_Identifier','Item_Identifier'],axis=1)

In [29]:
print(x_train.shape)
print(y_train.shape)
print(X_test.shape)

(8523, 29)
(8523,)
(5681, 29)

In [30]:
#linear Regression model

from sklearn.linear_model import LinearRegression 
LR=LinearRegression()

LR.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
y_pred=LR.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score,r2_score,mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn import  metrics
from sklearn.metrics import mean_squared_error

In [33]:
LR_accuracy=round(LR.score(x_train,y_train)*100,2)
LR_accuracy

56.35

In [34]:
r2_score(y_train,LR.predict(x_train))

0.5635180059745906

In [35]:
mse = mean_squared_error(y_train,LR.predict(x_train))
print('RMSE :', np.sqrt(mse))
#print('Variance score: %.2f' % r2_score(y_test, y_pred))

RMSE : 1127.36327172476

# Decision Tree Model

In [36]:
# fitting the descision tree regressioin to the dataset
from sklearn.tree import DecisionTreeRegressor
Tree=DecisionTreeRegressor(max_depth=15,min_samples_leaf=303)
Tree.fit(x_train,y_train)

# checking the for test set
y_pred1=Tree.predict(X_test)

In [37]:
# checking the accuracy of the of the models
Tree_accuracy=round(Tree.score(x_train,y_train)*100,2)
Tree_accuracy

r2_score_value=r2_score(y_train,Tree.predict(x_train))

mse = mean_squared_error(y_train,LR.predict(x_train))
print('RMSE :', np.sqrt(mse))

print('tree_accuracy:',Tree_accuracy)
print('r2_score:',r2_score_value)

RMSE : 1127.36327172476
tree_accuracy: 58.05
r2_score: 0.5804671949217934

# Random Forest Model

In [38]:
from sklearn.ensemble import RandomForestRegressor
RF=RandomForestRegressor(n_estimators=100,max_depth=6, min_samples_leaf=50,n_jobs=4)
RF.fit(x_train,y_train)

# checking it for test set
y_pred2=RF.predict(X_test)

In [39]:
# checking the accuracy of the of the models
RF_accuracy=round(RF.score(x_train,y_train)*100,2)


r2_score_value=r2_score(y_train,RF.predict(x_train))

mse = mean_squared_error(y_train,RF.predict(x_train))
print('RMSE :', np.sqrt(mse))

print('RF_accuracy:',RF_accuracy)
print('r2_score:',r2_score_value)

RMSE : 1062.0823506424038
RF_accuracy: 61.26
r2_score: 0.61260416000251

In [40]:
#XgBoost Regressor
from sklearn.ensemble import GradientBoostingRegressor

XGB=GradientBoostingRegressor()
XGB.fit(x_train,y_train)

#predicting the test set results 
pred=XGB.predict(X_test)

# checking the accuracy of the of the models
XGB_accuracy=round(XGB.score(x_train,y_train)*100,2)


r2_score_value=r2_score(y_train,XGB.predict(x_train))

mse = mean_squared_error(y_train,XGB.predict(x_train))
print('RMSE :', np.sqrt(mse))

print('XGB_accuracy:',XGB_accuracy)
print('r2_score:',r2_score_value)

RMSE : 1038.3195928399678
XGB_accuracy: 62.97
r2_score: 0.6297452257987408

In [41]:
submit=pd.DataFrame({'Item_Identifier':sub['Item_Identifier'],'Outlet_Identifier':sub['Outlet_Identifier'],'Item_Outlet_Sales':y_pred2})

In [42]:
submit.to_csv('D:/Sunil_M_S/Data Set/Big Mart Sales/Final_Results4.1.csv')

In [43]:
submit.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1650.932958
1           FDW14            OUT017        1356.246669
2           NCN55            OUT010         593.234142
3           FDQ58            OUT017        2458.810780
4           FDY38            OUT027        6239.584553

# Tunning the best model

In [44]:
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV, cross_val_score,cross_val_predict

In [45]:
sns.set_style('whitegrid')
sns.set_context('talk')
params = {'legend.fontsize': 'x-large',
          'figure.figsize': (30, 10),
          'axes.labelsize': 'x-large',
          'axes.titlesize':'x-large',
          'xtick.labelsize':'x-large',
          'ytick.labelsize':'x-large'}

plt.rcParams.update(params)

In [46]:
param_grid={'min_samples_split':[2,4,8,16],'min_samples_leaf':[1,2,3,4],'max_leaf_nodes':[None,10,20,100]}
grid_cv_dtm=GridSearchCV(XGB,param_grid,cv=5)
grid_cv_dtm.fit(x_train,y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.1,
                                                 loss='ls', max_depth=3,
                                                 max_features=None,
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100,
                                                 n_iter_no_change=None,
                                                 presort='deprecated',
                                                 random_state=None,
                                                 subsample=1.0, tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_leaf_nodes': [None, 10, 20, 100],
                         'min_samples_leaf': [1, 2, 3, 4],
                         'min_samples_split': [2, 4, 8, 16]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [47]:
print("R-Squared::{}".format(grid_cv_dtm.best_score_))
print("Best Hyperparameters::\n{}".format(grid_cv_dtm.best_params_))

R-Squared::0.595136597964893
Best Hyperparameters::
{'max_leaf_nodes': 10, 'min_samples_leaf': 4, 'min_samples_split': 2}

In [48]:
df=pd.DataFrame(data=grid_cv_dtm.cv_results_)
df.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_leaf_nodes,param_min_samples_leaf,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,2.722411,1.094523,0.010653,0.003373,None,1,2,"{'max_leaf_nodes': None, 'min_samples_leaf': 1...",0.608018,0.579763,0.572552,0.600645,0.600953,0.592386,0.013702,55
1,3.495267,0.479275,0.012562,0.006361,None,1,4,"{'max_leaf_nodes': None, 'min_samples_leaf': 1...",0.608995,0.578563,0.572158,0.601643,0.599398,0.592151,0.014217,64
2,2.914712,1.651288,0.010581,0.007898,None,1,8,"{'max_leaf_nodes': None, 'min_samples_leaf': 1...",0.606581,0.580290,0.573464,0.601527,0.601119,0.592596,0.013156,50
3,2.280895,0.371656,0.005812,0.003123,None,1,16,"{'max_leaf_nodes': None, 'min_samples_leaf': 1...",0.606652,0.579108,0.573425,0.602109,0.599589,0.592176,0.013308,63
4,2.114848,0.193276,0.008002,0.000003,None,2,2,"{'max_leaf_nodes': None, 'min_samples_leaf': 2...",0.607064,0.581746,0.573911,0.601093,0.602235,0.593210,0.012957,48

In [49]:
r2_scores = cross_val_score(grid_cv_dtm.best_estimator_, x_train, y_train, cv=10)
mse_scores = cross_val_score(grid_cv_dtm.best_estimator_, x_train, y_train, cv=10,scoring='neg_mean_squared_error')

print("avg R-squared::{:.3f}".format(np.mean(r2_scores)))
print("MSE::{:.3f}".format(np.mean(mse_scores)))

avg R-squared::0.596
MSE::-1171558.388

In [50]:
grid_cv_dtm.best_estimator_.fit(x_train, y_train)
y_pred = grid_cv_dtm.best_estimator_.predict(X_test)
y_pred[y_pred<0] = 0
from sklearn import metrics
XGB_accuracy=round(XGB.score(x_train,y_train)*100,2)


r2_score_value=r2_score(y_train,XGB.predict(x_train))

mse = mean_squared_error(y_train,XGB.predict(x_train))
print('RMSE :', np.sqrt(mse))

RMSE : 1038.3195928399678